
.secendanimation{
    width: 300;
	height: 300;
	position: absolute;
	animation-name: car1;
    animation-duration: 3s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate ;
}

@keyframes car1{ 

0%{
	right: 10px;

}
50%{
	right: 800px;
}
100%{
	right: 1000px;
	transform: rotate: ;
}

}
	
.animation{
	width: 300;
	height: 300;
	position: absolute;
	animation-name: car2;
    animation-duration: 3s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate ;
    bottom: 310px;
    
  
}
@keyframes car2 {
	0% { 
		left:10px;
		
	}
	50% {left:800px;
		
	}
	100% {
		left: 1000px;
		transform: rotate: ;
		
	}
}


